<a class="nav-link {{ is_subpath('platform.admin.agent.index') ? 'active' }}" href="{{ path('platform.admin.agent.index') }}">
          Agents        
</a> 
<a class="nav-link {{ is_subpath('platform.admin.service.index') ? 'active' }}" href="{{ path('platform.admin.service.index') }}">
          Services        
</a>
<a class="nav-link {{ is_subpath('platform.admin.profession.index') ? 'active' }}" href="{{ path('platform.admin.profession.index') }}">
          Professions        
</a>
<a class="nav-link {{ is_subpath('platform.admin.diplome.index') ? 'active' }}" href="{{ path('platform.admin.diplome.index') }}">
          Diplomes       
</a>  